.features {
  background-color: $globalColor;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 2rem 0;

  &__container {
    margin: 2.5rem 0;
    max-width: 848px;
  }

  &__title {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__text-title {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5px 0 0 10px;
  }

  &__light {
    font-weight: 300;
  }
  &__icon {
    max-width: 45px;
    margin-bottom: 80px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;

    @mixin atMedium {
      grid-gap: 5.25rem;
    }
    @mixin atSmall {
      max-width: 988px;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.5rem;
    }
  }

  &__element {
    display: flex;
  }
  &__element-text {
    margin-left: 1.875rem;
  }
  &__element-title {
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
  }
  &__element-p {
    font-weight: 300;
    line-height: 1.5rem;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0.8;
  }
}
